@import '../../styles/vars';

.filters {
  margin-bottom: 15px;

  border: 1px solid #d9d9d9;
  border-radius: 8px;

  background-color: $white;

  &__header {
    padding: 12px 24px;
    border-block-end: 1px solid rgba(5, 5, 5, 0.06);

    .title {
      margin: 0;
    }
  }

  &__body {
    padding: 16px;

    .label {
      margin-bottom: 8px;
    }
  }
}

.select {
  width: 100%;
}

.tag {
  color: $blue;
  font-style: italic;
  font-weight: 600;
}
