@import '../../styles/vars';

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: start;
  gap: 30px;
}

@media screen and (max-width: $tablet) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
