@import '../../styles/vars';

.notes {
  background-color: $white;

  .title {
    margin: 0;
  }
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tagList {
  margin: 0;
}

.content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-right: 24px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
}
